---
layout: none
permalink: /book-chapters.html
title: Book Chapters and Magazine Articles
---

{% include head.html %}

<body id="publications-page">
  {% include nav.html %}

  <section id="book-chapters" class="container text-white" style="padding-top:80px;padding-bottom:60px;">
    <style>
      #book-chapters { color: #fff !important; }
      #book-chapters p, #book-chapters h1, #book-chapters h2, #book-chapters h3, #book-chapters li, #book-chapters ol { color: #fff !important; }
    </style>

    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Book Chapters and Magazine Articles</h1>
      </div>
    </div>

    <div class="row" style="margin-top:30px;">
      <div class="col-md-10 col-md-offset-1">
        <ol reversed>
          <!-- Publications will be added here -->
          <li>Publication entries from Google Scholar will be populated here</li>
        </ol>

        <p style="margin-top:30px;">
          <a href="{{ '/#resources' | relative_url }}" class="btn btn-default">← Back to Resources</a>
        </p>
      </div>
    </div>
  </section>

  {% include scripts.html %}
</body>
