---
layout: none
permalink: /conference-publications.html
title: Conference Publications
---

{% include head.html %}

<body id="publications-page">
  {% include nav.html %}

  <section id="conference-publications" class="container text-white" style="padding-top:80px;padding-bottom:60px;">
    <style>
      #conference-publications { color: #fff !important; }
      #conference-publications p, #conference-publications h1, #conference-publications h2, #conference-publications h3, #conference-publications li, #conference-publications ol { color: #fff !important; }
    </style>

    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Conference Publications</h1>
      </div>
    </div>

    <div class="row" style="margin-top:30px;">
      <div class="col-md-10 col-md-offset-1">
        <ol reversed>
          <!-- Publications will be added here -->
          <li>Publication entries from Google Scholar will be populated here</li>
        </ol>

        <p style="margin-top:30px;">
          <a href="{{ '/#resources' | relative_url }}" class="btn btn-default">← Back to Resources</a>
        </p>
      </div>
    </div>
  </section>

  {% include scripts.html %}
</body>
