<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Research Overview</h2>
                <hr class="light">
                <p class="text-faded">We study dynamical systems, complex networks, and build ML tools that facilitate dynamic data analysis and learning</p>
                <a href="#contact" class="btn btn-default btn-xl">Reach Us</a>
            </div>
        </div>
    </div>
</section>
