  <aside class="bg-dark" id="news">
      <div class="container text-left">
          <div class="call-to-action">
              <h2 class="section-heading text-center">Updates</h2>
              <hr class="light">
              <ul>
                <li> 08/22/24 -  Check out the <a target="_blank" href="https://www.sc.edu/study/colleges_schools/engineering_and_computing/news_events/news/2024/narayanan_intelligent_cyber_physical_systems.php">MCEC article </a>on our recently funded NSF project.</li>
                <li> 07/10/24 - We will be organizing a minisymposium at SIAM Conference on Mathematics of Data Science (MDS24) - <a target="_blank" href="https://meetings.siam.org/sess/dsp_programsess.cfm?SESSIONCODE=80588">Systems-Theoretic Approaches to Learning: Applications to Estimation and Control</a></li>
                <li> 07/05/24 - New project funded - Vulnerability Characterization of Learning-Based Controllers in Networked Cyber-Physical Systems 
                  (Sponsor: NSF, PI: Vignesh Narayanan) <a target="_blank" href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2337998">(click here for details)</a></li>
                <li> 06/20/24 - Check out the new book with codes - `Optimal Event-Triggered Control Using Adaptive Dynamic Programming` <a target="_blank" href="https://www.routledge.com/Optimal-Event-Triggered-Control-Using-Adaptive-Dynamic-Programming/Jagannathan-Narayanan-Sahoo/li/book/9781032468655"> (Publisher's page)</a></li>
                <li> 05/29/24 - Dr. Narayanan gave a talk on ``Event-triggered Control,” at the Workshop on Machine Learning and Deep Learning: Basics to Research 
                  Perspectives, Madras Institute of Technology Campus, Anna University, India, 2024. Photos -<a target="_blank" href="https://github.com/vigsnar/vigsnar.github.io/blob/main/assets/img/events/Pre-talk.jpg">1,</a>
                  <a target="_blank" href="https://github.com/vigsnar/vigsnar.github.io/blob/main/assets/img/events/During_talk.jpg"> 2</a></li>
                <li> 04/25/24 -  Check out this article: <a target="_blank" href="https://www.sc.edu/study/colleges_schools/engineering_and_computing/news_events/news/2024/vignesh_narayanan_research_feature.php">CEC Article</a></li>
                <li> 03/19/24 - New project funded - Learning-Enabled Collaborative Autonomy for Networked CPS (Sponsor: AFOSR, DoD)</li>
                <li> 03/09/24 - Dr. Narayanan joined the editorial team of IEEE Transactions on Cybernetics </li>
                <li> 03/03/24 - We will be presenting our research at the AAAI Spring Symposium on Empowering Machine Learning and Large Language Models with Domain and Commonsense Knowledge (AAAI-MAKE 2024) </li>
              </ul>
              <div class="content">
                <ul>
                  <li> 02/29/24 - Congrats, Bharath and team for winning the "Best Technical Demonstration Award" at AAAI 2024! </li>
                  <li> 01/22/24 -  Maxwell Geiger, Vignesh Narayanan, Sarangapani Jagannathan, ``Optimal Tracking of Uncertain Linear Discrete-time Systems using Time-varying Lifelong Q-learning," in IEEE American Control Conference (ACC), 2024 (accepted for publication) </li>
                  <li> 12/15/23 - Bharath Muppasani, Vignesh Narayanan, Michael Huhns, and Biplav Srivastava, ``Expressive and Flexible Simulation of Information Spread Strategies in Social Networks Using Planning," AAAI '24 (accepted for publication in Demo track) </li>
                  <li> 08/15/23 -  New project funded - EAGER: Knowledge-guided neurosymbolic AI with guardrails for safe virtual health assistants 
                    (Sponsor: NSF, PI: Dr. Amit Sheth and Co-PI: Vignesh Narayanan) <a target="_blank" href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2335967&HistoricalAwards=false">(click here for details)</a></li>
                  <li> 08/15/23 - Rae Jones joined our team! </li>
                  <li> 08/15/23 - Protik joined our team! </li>
                  <li> 08/01/23 - Some of our recent works were presented in IEEE Conference on Artificial Intelligence, KDD Workshop on Knowledge Augmented Methods for NLP, 
                    and KDD Workshop on Knowledge-infused Learning and a work on process knowledge-infused learning is selected for presentation in AAAI Second Symposium on Human Partnership with Medical Artificial Intelligence </li>
                  <li> 07/20/23 - <a target="_blank" href="https://www.linkedin.com/posts/ponguru_phdlife-askusanything-acmindia-activity-7087975055447519232-qoWO?utm_source=share&utm_medium=member_desktop">Panel on #Ask Us Anything</a></li>
                  <li> 07/20/23 - <a target="_blank" href="https://www.linkedin.com/posts/deepa-tilwani-b758551a0_ohbm-neuroscience-ai-activity-7088653974676901889-RTfV?utm_source=share&utm_medium=member_desktop">HBM 2023, Poster by Deepa</a> - <a target="_blank" href="https://shorturl.at/qFV45">Poster</a></li>
                  <li> 07/01/23 - Dr. Narayanan joined the editorial team of IEEE Transactions on Neural Networks and Learning Systems </li>
                  <li> 06/15/23 - We will be attending SMC'23 <a target="_blank" href="https://www.linkedin.com/posts/revathy-venkataramanan_cookgenpdf-activity-7070064611772805120-BJHg?utm_source=share&utm_medium=member_desktop">Accepted paper</a> </li> 
                  <li> 05/15/23 - Erik joined our team! </li>
                  <li> 05/01/23 - New project funded - Collaborative autonomy in uncertain environments:Exploring vistas beyond consensus (Sponsor: NEEC, NSWC, Panama city, DoD, USC will be collaborating with UAH)</li>
                  <li> 01/20/23 - We will be attending SIAM DS23 (May 14-18) at Portland, Oregon!</li>
                  <li> 12/14/22 - Our work on cooperative deep Q-networks is accepted for publication in IEEE Transactions on Neural Networks and Learning Systems! </li>
                  <li> 11/28/22 - Our work on building chatbots is selected for presentation in AAAI-23, AI4CE Workshop in Feb, 2023! </li>
                  <li> 11/22/22 - Our work on the relationship between iterative function learning and ensemble control is selected for presentation in AAAI-23, MLmDS Workshop in Feb, 2023! </li>
                  <li> 11/19/22 - Our work on learing to control CPS in the presence of time delays is accepted for publication in IEEE Transactions on Systems, Man, and Cybernetics: Systems! </li>
                  <li> 10/28/22 - <a target="_blank" href="https://photos.app.goo.gl/rcR9hWr8NiNTSkLa6">AIISC retreat</a>  - <a target="_blank" href="https://docs.google.com/presentation/d/1cIDWv_7ZOo1HYUEZyh_lxj7dEuZS9dvC2taFtDr9nsg/edit#slide=id.g17ad09c9c12_6_41">Check out the posters</a></li> 
                  <li> 09/15/22 - Undergrad interns - Austin and Erik joined our team! </li>
                  <li> 08/16/22 - Bharath joined our team! </li>
                  <li> 05/15/22 - Summer internship - Peyton joined our team! </li>    
                  <li> 05/01/22 - Teja joined our team!   </li>
                  <li> 05/01/22 - New project funded - Information Competition Simulator (Sponsor: UMD, ARLIS, DoD, PI: Dr. Michael Huhns and Co-PI: Vignesh Narayanan)    </li>
                  <li> 12/15/22 -  Special session accepted! WCCI 2022 Data-Efficient Multi-Agent Reinforcement Learning for Control, Automation, and Population Systems Optimization </li>
                  <li> 10/15/21 - New course on Optimization will be offered this Spring - CSCE 590    </li>
                  <li> 07/27/21 - New course will be offered this fall - CSCE 790: Neural Networks and Their Applications to Intelligent Systems </li> 
                </ul>
              </div>
              <button type="button" class="collapsible btn btn-default center-block" id="button">Show More</button>
          </div>
      </div>
      <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;
      
      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.previousElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
              content.getElementById("button").innerHTML = "Show Less";
            } else {
              content.style.display = "block";
            }
        });
      }
      </script>
  </aside>
