e<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Visit Us</h2>
                <hr class="primary">
                <p> Science and Technology Building <br>
                    5th Floor <br>
                    AI Institute, UofSC (AIISC) <br>
                    1112 Greene St. Columbia, SC 29208 </p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
                <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.linkedin_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-brands fa-google-scholar fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-brands fa-researchgate fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
