<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Visit Us</h2>
                <hr class="primary">
                <p style="margin-left: 32%; margin-right: 32%; text-align: left;"> 
                    Science and Technology Building <br>
                    5th Floor <br>
                    AI Institute, UofSC (AIISC) <br>
                    1112 Greene St. Columbia, SC 29208 </p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
                <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.linkedin_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://scholar.google.com/citations?hl=en&user={{ site.googlescholar_url }}">
            <i class="fa fa-brands fa-google-scholar fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Vignesh Narayanan</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.researchgate.net/profile/{{ site.researchgate_username }}">
            <i class="fa fa-brands fa-researchgate fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.researchgate_username }}</p>
            </a>
        </div>

    </div>
</section>
