<section class="bg-dark" id="portfolio">
  <h2 class="section-heading text-center">Selected Previous Works</h2>
  <hr class="light">
  <main class="carousel-container">
    <div class="carousel">
      <div class="item active">
        <img src="img/portfolio/Cluster.jpg">
        <p class="caption"><a href="https://link.springer.com/article/10.1007/s10115-021-01578-0">Nested two-stage clustering algorithm for dietary pattern analysis</a></p>
      </div>
      <div class="item">
        <img src="img/portfolio/Reservoir.png">
        <p class="caption"><a href="https://ieeexplore.ieee.org/abstract/document/9668942">Reservoir networks: Interpretable design</a></p>
      </div>
      <div class="item">
        <img src="img/portfolio/Game.svg">
        <p class="caption"><a href="https://www.sciencedirect.com/science/article/abs/pii/S0893608020300022">Game-theoretic approaches to learning-based control synthesis</a></p>
      </div>
        <div class="item">
        <img src="img/portfolio/Learning.png">
        <p class="caption"><a href="https://ieeexplore.ieee.org/abstract/document/8951268">Reinforcement learning for model learning and knowledge sharing</a></p>
      </div>
        <div class="item">
        <img src="img/portfolio/Neuron.png">
        <p class="caption"><a href="https://link.springer.com/article/10.1007/s10827-019-00723-7">Inferring dynamics of single neuron from in vitro recordings</a></p>
      </div>
        <div class="item">
        <img src="img/portfolio/Projection.png">
        <p class="caption"><a href="https://www.nature.com/articles/s41598-020-69640-5">Distributed optimization: Parallel residual projection</a></p>
      </div>
        <div class="item">
        <img src="img/portfolio/Systems.svg">
        <p class="caption"><a href="https://ieeexplore.ieee.org/abstract/document/8027115">Event-driven learning and control for cyber-physical systems</a></p>
      </div>
        <div class="item">
        <img src="img/portfolio/Data.png">
        <p class="caption"><a href="https://arxiv.org/abs/2009.02646">Data-driven ensemble control systems</a></p>
      </div>
    </div>
    <button class="btn prev"><</button>
    <button class="btn next">></button>
    <div class="dots"></div>
  </main>
</section>

<script src="js/carousel.js"></script>
