<section class="bg-primary" style="margin: auto; width: 100%">
    <div class="carousel-container">
        <div class="carousel-inner">
            <div class="item active">
                <img src="img/portfolio/Cluster.jpg">
                <p class="carousel-caption">
                    <a href="https://link.springer.com/article/10.1007/s10115-021-01578-0">Nested two-stage clustering algorithm for dietary pattern analysis</a>
                </p> 
            </div> 
            <div class="item">
                <img src="img/portfolio/Reservoir.png">
                <p class="carousel-caption">
                    <a href="https://ieeexplore.ieee.org/abstract/document/9668942">Reservoir networks: Interpretable design</a>
                </p> 
            </div> 
            
        </div>
       <button class="btn prev"><</button>
       <button class="btn next">></button>
    </div>
</section>
