<section class="bg-light-transparent" id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Current Funded Projects</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <h4><a href=""><b>Information Competition Simulator</b></a></h4>
        <p>Examining the dynamics of information dissemination and the formation of opinions within networks holds significant importance. The overarching goal of this project is to construct a versatile and authentic simulator (i.e., a "digital twin"), designed to comprehend the propagation of information in dynamic environments. The project integrates theories of multi-agent systems and dynamic planning with knowledge graphs to build an interpretable and dynamic information environment.</p>
        <hr class="primary">
        <h4><a href=""><b>Collaborative Autonomy in Uncertain Environments: Exploring Vistas Beyond Consensus</b></a></h4>
        <p>The overall objective of this project is to design efficient aperiodic communication protocols, privacy-preserving and scalable learning algorithms for inference and filtering, and resource-conscious control strategies for networked autonomous, heterogeneous agents in a distributed setting.</p>
        <hr class="primary">
        <h4><a href="https://wiki.aiisc.ai/index.php?title=EAGER:_Knowledge-guided_neurosymbolic_AI_with_guardrails_for_safe_virtual_health_assistants"><b>EAGER: Knowledge-guided Neurosymbolic AI with Guardrails for Safe Virtual Health Assistants</b></a></h4>
        <p>The overall objective of this project is to enhance the safety and reliability of generative AI systems, specifically virtual health assistants (VHAs) in healthcare, by integrating clinical process knowledge through Knowledge Graphs (KGs). The project aims to produce safety-constrained VHAs that adhere to medical guidelines, providing understandable explanations for users. Beyond healthcare, the research contributes to the broader field of AI by advancing neurosymbolic AI techniques, fostering collaboration between humans and AI, and promoting transferability to safety-critical domains.</p>
        <hr class="primary">
        <h4><a href=""><b>Learning-Enabled Collaborative Autonomy for Networked CPS</b></a></h4>
        <p>The principal objective of this research is to advance methodologies for modeling, learning, and controlling networked cyber-physical systems (CPS), specifically those incorporating human users or operators in their feedback loop, through a systematic emphasis on data- and knowledge- driven approaches.</p>
        <hr class="primary">
        <h4><a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2337998"><b>Vulnerability Characterization of Learning-Based Controllers in Networked Cyber-Physical Systems</b></a></h4>
        <p>The primary goals of the collaborative project are to develop a) a real-time reward manipulation scheme for learning-based controllers, b) multi-level attack schemes on reward signals in a distributed control architecture for CPS, and c) data-enabled strategies for their detection.</p>
    </div>
</section>
