<section>
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Group Lead</h2>
            <hr>
        </div>
    </div>
    <div class="container">
        <div class="text-center">
            <p>I am an Assistant Professor in the Artificial Intelligence Institute <a href="https://aiisc.ai/">(AIISC)</a> and the Department of Computer Science and Engineering at the University of South Carolina (USC). I am also affiliated with the Carolina Autism and Neurodevelopment <a href="https://sc.edu/study/colleges_schools/artsandsciences/centers_and_institutes/uofscand/">(CAN)</a> research center. Before joining USC, I was a postdoctoral associate in the Department of Electrical and Systems Engineering at Washington University in St. Louis (WashU). My past affiliations are: 1. <a href="https://www.ese.wustl.edu/~jsli/AMLab/Home.html">Applied Mathematics Lab</a> @WashU; 2. <a href="https://braindynamics.engineering.wustl.edu/">Brain Dynamics and Control Research Group</a> @WashU; and 3. <a href="https://web.mst.edu/~sarangap/">Embedded Control Systems and Networking Laboratory</a> @MST.</p>
        </div>
    </div>
    <br>
    <div class="container" style="gap: 2vw; display: flex; margin-bottom: 5rem;">
        <div>
            <img src="img/team/vignesh.png" style="width: 100%">
        </div>
        <div style="align-self: center">
            <h3 style="font-weight: bold">Vignesh Narayanan</h3>
            <p>
                Assistant Professor <br>
                AI Institute <br>
                Computer Science and Engineering <br>
                Carolina Autism and Neurodivergent Research Center <br>
                University of South Carolina <br>
                vignar@sc.edu
            </p>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Team</h2>
            <hr>
        </div>
</section>
