<section class="bg-light-transparent" id="team">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Group Lead</h2>
            <hr>
        </div>
    </div>
    <div class="container">
        <div>
            <p>I am an Assistant Professor in the Artificial Intelligence Institute <a href="https://research.cec.sc.edu/aii">(AII)</a> and the Department of Computer Science and Engineering at the University of South Carolina (USC). I am also affiliated with the Carolina Autism and Neurodevelopment <a href="https://sc.edu/study/colleges_schools/artsandsciences/centers_and_institutes/uofscand/">(CAN)</a> research center. Before joining USC, I was a postdoctoral associate in the Department of Electrical and Systems Engineering at Washington University in St. Louis (WashU). My past affiliations are: 1. <a href="https://www.ese.wustl.edu/~jsli/AMLab/Home.html">Applied Mathematics Lab</a> @WashU; 2. <a href="https://braindynamics.engineering.wustl.edu/">Brain Dynamics and Control Research Group</a> @WashU; and 3. <a href="https://web.mst.edu/~sarangap/">Embedded Control Systems and Networking Laboratory</a> @MST.</p>
        </div>
    </div>
    <br>
    <div class="group-lead container" style="width: 85%; gap: 2vw; margin-bottom: 5rem;">
        <div>
            <img src="img/team/vignesh.png" style="width: 100%">
        </div>
        <div style="align-self: center">
            <h3 style="font-weight: bold">Vignesh Narayanan</h3>
            <p>
                Assistant Professor <br>
                AI Institute <br>
                Computer Science and Engineering <br>
                Carolina Autism and Neurodevelopment Research Center <br>
                University of South Carolina <br>
                vignar@sc.edu
            </p>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Current Students</h2>
            <hr>
        </div>
    </div>
    <div class="column">
        <div>
            <div class="image-container">
                <img src="img/team/Bharath.jpg">
            </div>
            <div class="text-center">
                <a href="https://bharathmuppasani.github.io/">Bharath Muppasani</a>
            </div>
        </div>
        <div>
            <div class="image-container">
                <img src="img/team/Erik_Connerty.jpg">
            </div>
            <div class="text-center">
                <a href="https://www.linkedin.com/in/erik-connerty-b7182221a/">Erik Connerty</a>
            </div>
        </div>
        <div>
            <div class="image-container">
                <img src="img/team/Protik_Nag.jpg">
            </div>
            <div class="text-center">
                <a href="https://www.linkedin.com/in/protik-nag-626646147/">Protik Nag</a>
            </div>
        </div>
    </div>
    <hr class="primary">
    <div class="column">
        <div>
            <div class="image-container">
                <img src="img/team/Ritirupa_Dey.jpg">
            </div>
            <div class="text-center">
                <a href="https://www.linkedin.com/in/ritirupa-dey-7524b9209/">Ritirupa Dey</a>
            </div>
        </div>
          <div>
            <div class="image-container">
                <img src="img/team/Risha_Patel.jpg">
            </div>
            <div class="text-center">
                <a href="https://rishapatel09.github.io/myportfolio/">Risha Patel</a>
            </div>
        </div>
        <div>
            <div class="image-container">
                <img src="img/team/Sebastian_Gaviria.jpg">
            </div>
            <div class="text-center">
                <a href="https://www.linkedin.com/in/sgavir8738/">Sebastian Gaviria</a>
            </div>
        </div>
     <!-- <div>
         <div class="image-container">
                <img src="img/team/Rae_Jones.jpg">
            </div>
            <div class="text-center">
                <a href="https://www.linkedin.com/in/rae-j/">Rae Jones</a>
            </div>
        </div> -->
        <!-- <div>
            <div class="image-container">
                <img src="img/team/Ayush_Parambath.jpg">
            </div>
            <div class="text-center">
                <a href="https://www.linkedin.com/in/ayush-parambath/">Ayush Parambath</a>
            </div>
        </div>
    </div> -->
    <!-- <hr class="primary">
    <div class="column">
      
         
        <div>
            
            <!-- <div class="image-container">
                
            </div>
            <div class="text-center">
                
            </div> -->
        </div>
    </div> -->

    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Past Collaborators</h2>
            <hr>
            <ul style="text-align: left; list-style-position: inside; margin-left: 0; padding-left: 0;">
            <li> Peyton Tucker (B.S. Computer Science) - Ontology and knowledge graph for ICS (Summer 2021) </li>
            <li>Sai Teja Palladi (M.S. Computer Science) - Multi-agent modeling and support for ICS, Jointly advised by Prof. Biplav Srivastava (2022 - 23)</li>
            <li> Erik Connerty  (B.S. Computer Science) - Multi-agent modeling and support for ICS (Fall 2022, Spring 2023) </li>
            <li> Austin Cappuccio (B.S. Computer Science)  - Software development for ICS (Fall 2022, Spring 2023)</li>
            <li>Gavin Hewitt (B.S. Computer Science)  - Multi-agent modeling and support for ICS (Fall 2023)</li>
            <li> Rae Jones (B.S. Computer Science) - Multi-agent modeling (Fall 2023-Spring 2025)</li>
            <li> Ayush Parambath (B.S. Computer Science) - Robotics, Vision  (Fall 2024-Spring 2025)</li>
            </ul>
        </div>
    </div>
</section>
