html,
body {
    height: 100%;
    width: 100%;
}

body {
    @include serif-font;
    background-color: black; 
    background-image: none;
}

hr {
    border-color: $theme-primary;
    border-width: 3px;
    max-width: 50px;
}


hr.light {
    border-color: white;
}

a {
    @include transition-all;
    color: $theme-primary;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: $theme-primary;
    color: white;
}

.bg-dark {
    background-color: $theme-dark;
    color: white;
}
.bg-light {
    background-attachment: $theme-light;
}
.bg-primary-transparent {
    background-color: rgba($theme-primary, 0.75);
    color: white;
}
.bg-dark-transparent {
    background-color: rgba($theme-dark, 0.75);
    color: white;
}
.bg-light-transparent {
    background-color: rgba($theme-light, 0.75);
}

.text-faded {
    color: rgba(white, .7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

canvas {
    position: fixed;
    top: 0;             
    left: 0;            
    width: 100%;       
    height: 100%;       
    z-index: -1;        
    display: block;     
 }

.no-padding {
    padding: 0;
}

// Navigation

.navbar-default {
    background-color: white;
    border-color: rgba($theme-dark, .5);
    @include sans-serif-font;
    @include transition-all;
    .navbar-header .navbar-brand {
        color: $theme-primary;
        @include sans-serif-font;
        font-weight: 700;
        text-transform: uppercase;
        &:hover,
        &:focus {
            color: darken($theme-primary, 10%);
        }
    }
    .nav {
        > li {
            > a,
            > a:focus {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                color: $theme-dark;
                &:hover {
                    color: $theme-primary;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: $theme-primary !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        background-color: transparent;
        border-color: rgba(white, .3);
        .navbar-header .navbar-brand {
            color: rgba(white, .7);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: rgba(white, .7);
            &:hover {
                color: white;
            }
        }
        &.affix {
            background-color: white;
            border-color: rgba($theme-dark, .5);
            .navbar-header .navbar-brand {
                color: $theme-primary;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: darken($theme-primary, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: $theme-dark;
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}

// Homepage Header

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: white;
    background: transparent !important;
    .header-content {
        position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        width: 100%;
        .header-content-inner {
            h1 {
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                color: rgba(white, .7);
                font-size: 16px;
                margin-bottom: 50px;
            }
        }
    }
    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Sections

.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: auto;
    .portfolio-box-caption {
        color: black;
        opacity: 0;
        display: block;
        background: rgba( $theme-dark, .9 );
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        @include transition-all;
        .portfolio-box-caption-content {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .project-category,
            .project-name {
                @include sans-serif-font;
                padding: 0 15px;
            }
            .project-category {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .project-name {
                font-size: 18px;
            }
        }
    }
    &:hover {
        .portfolio-box-caption {
            opacity: 1;
        }
    }
    @media (min-width: 768px) {
        .portfolio-box-caption {
            .portfolio-box-caption-content {
                .project-category {
                    font-size: 16px;
                }
                .project-name {
                    font-size: 22px;
                }
            }
        }
    }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
    li {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    .content {
        display: none;
    }
    .btn {
        color: #222;
    }
}

// Bootstrap Overrides
.text-primary {
    color: $theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
.btn-default {
    @include button-variant($theme-dark, white, white);
}

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
}

.btn {
    @include sans-serif-font;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}
// Projects
#projects {
    h4 {
        text-align: center;
    }
    .image-container {
        text-align: center;
        margin: 5% 0 5% 0 ;
    }
}
// Portfolio
#portfolio {
    hr {
        margin-bottom: 40px;
    }
    p {
        margin-bottom: 0px;
    }
    .carousel-container {
      width: 60%;
      margin: auto;
      position: relative;
      display: block;
      flex-direction: column;
      gap: var(--lx-gap);
    
      .carousel {
        aspect-ratio: 16/9;
        width: 100%;
        position: relative;
        overflow: hidden;
    
        .item {
          opacity: 0;
          width: 100%;;
          height: 100%;
          display: none;
          transition: opacity 0.5s ease-in-out;
    
          img {
            width: 100%;
            object-fit: scale-down;
            background-color: white;
          }
    
          .caption {
            width: 100%;
            padding: var(--lx-space-01);
            position: absolute;
            bottom: 0;
            margin-bottom: 5%;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.75);
          }
    
          &.active {
            opacity: 1;
            display: flex;
          }
        }
      }
    
      .btn {
        padding: 1em 2em;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        outline: none;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 900;
        color: #10100e;
        background-color: #ffffe6;
        transition: transform 0.2s ease-in-out;
    
        &:active,
        &:focus {
          transform: translateY(-50%) scale(0.9);
        }
    
        &:hover {
          transform: translateY(-50%) scale(0.96);
        }
      }
    
      .prev {
        left: -10%;
      }
    
      .next {
        right: -10%;
      }
    
      .dots {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    
        .dot {
          cursor: pointer;
          height: 10px;
          width: 10px;
          background-color: #242421;
          transition: background-color 0.2s ease;
    
          &.active,
          &:hover {
            background-color: #ffffe6;
          }
        }
      }
    }
}
// Team
#team {
    .column {
        width: 70%;
        margin: auto;
        div {
            flex: 1;
        }
        .text-center {
            font-size: 150%;
            margin-bottom: 5%;
            margin-top: 5%;
        }
    }
   .image-container {
       height: 500px;
       width: 100%;
       img {
         height: 100%;
         width: 100%; 
         object-fit: cover;
       }
   }
}
@media (max-width: 768px) {
   .caption {
       font-size: 2vw;
   }
  .image-container {
      height: 400px;
  }
}
@media (min-width: 769px) {
    .group-lead {
        display: flex;
    }
    .column {
        display: flex;
        gap: 2vw;
    }
    .caption {
        font-size: 150%;
    }
}

// Contact
#contact .fa {
    color: $theme-dark;
    font-size: 4em;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-dark;
}

