<section class="bg-light-transparent" id="projects">
    <!-- <h3><a href="index.html" style="margin-left: 5%"><- Back</a></h3> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Learning-Enabled Collaborative Autonomy for Networked CPS</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <!-- <h4><b>Sample Heading</b></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <hr class="primary"> -->
        <div class="image-container">
            <img src="img/logos/AFOSR.png">
        </div>
        <hr class="primary">
        <h4><b>Team</b></h4>
        <ul>
            <li>Vignesh Narayanan, UofSC</li>
            <li>Sarangapani Jagannathan, MST-Rolla</li>
            <!-- <li>Sample List Item</li> -->
        </ul>
        <hr class="primary">
        <h4><b>Overview</b></h4>
        <p> The primary objective of this research is to advance methodologies for modeling, learning, and controlling networked cyber-physical systems (CPS). 
            In particular, the project emphasizes integrating human users or operators into the feedback loop of CPS by leveraging both data-driven and knowledge-based approaches. 
            The research is organized around three key thrust areas:  
            <ul> 
            <li>modeling the dynamics of human-robot collaboration;</li>
            <li>addressing scalability and data-related challenges in human-in-the-loop CPS using learning-based methods; and </li>
            <li>designing robust adaptation and control strategies to safely and effectively guide these collaborative systems toward desired outcomes. </li>
            </ul>
        </p>
        <hr class="primary">
        <h4><b>Selected Products</b></h4>
        <ul>
            <li>Kuan, Y.H., Narayanan, V. and Li, J.S., 2025. Iterative Reservoir Computing Networks for Reconstructing Irregular Time Series. IEEE Transactions on Neural Networks and Learning Systems.</li>
            <li>Ganie, I. and Jagannathan, S., 2025. Online learning-driven human intent estimation and control for human-robot interaction. Proceedings of the American Control Conference. IEEE.</li>
            <li>Muppasani, B.C., Nag, P., Narayanan, V., Srivastava, B. and Huhns, M., 2024. Towards effective planning strategies for dynamic opinion networks. Advances in Neural Information Processing Systems.</li>
        </ul>
        <hr class="primary">
        <!-- <div class="image-container">
            <img src="img/placeholder.png" style="border: 5px double black">
        </div>
        <hr class="primary"> -->
    </div>
</section>